* {
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  /* background-color: #c1e3ff; */
  background-image: linear-gradient(to right, rgb(195, 155, 115), rgb(17, 10, 4));
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
  border-bottom: 1px solid gray;

}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: burlywood;
  background-image: url("https://static01.nyt.com/images/2022/09/26/multimedia/26sp-watches-repairs-inyt1/26sp-watches-repairs-inyt1-videoSixteenByNine3000.jpg");;
  background-size: cover;
  padding: 20px;
  overflow-y: scroll;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: steelblue;
}

nav > a.active {
  color: white;
  cursor: default;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#new-form *,
#add-review-form *,
#add-performer-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
  border-radius: 4px;
  background-color: rgba(10, 10, 10, .8);
  padding: 4px;
}

#new-form input[type="submit"]:hover {
  background-color: steelblue;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

#list td:nth-child(2), #list td:nth-child(3){
  min-width: 100px;
}

#list {
  border-radius: 5px;
  background-color: rgba(10, 10, 10, 0.897);
}

#list a {
  border-radius: 4px;
  background-color: rgba(10, 10, 10, .8);
  padding: 4px;
  text-decoration: none;
  font-size: 16px;
}

#list a:hover {
  background-color: steelblue;
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}

#add-review-form,
#add-performer-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

#add-review-form input[type="submit"],
#add-performer-form input[type="submit"]  {
  width: 10rem;
  grid-column: 2 / 3;
}

hr {
  color: #424748
}

#badge-container {
  display: flex;
  flex-wrap: wrap;
  /* padding: 1rem; */
  width: 80%;
  border: 2px solid #B8C0C2;
  border-radius: .5rem;
  margin: .5rem 0 2rem;
}

.badge {
  background-color: #B8C0C2;
  padding: .5rem;
  margin: .5rem;
  border-radius: .3rem;
  font-size: .8rem;
  text-align: center;
}

ul {
  margin: 0 0 1rem;
  padding: 0;
  list-style: none;
}
	
li {
  font-weight: bold;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

#band {
  border-radius: 4px;
  background-color: rgba(10, 10, 10, .8);
  padding: 4px;
  text-decoration: none;
  font-size: 20px;
}

#band:hover {
  background-color: steelblue;
}

#watch-edit {
  border-radius: 4px;
  background-color: rgba(10, 10, 10, .8);
  padding: 4px;
  text-decoration: none;
  font-size: 20px;
}

#watch-edit:hover {
  background-color: steelblue;
}

#watch-delete {
  border-radius: 4px;
  background-color: rgba(10, 10, 10, .8);
  padding: 4px;
  text-decoration: none;
  font-size: 20px;
}

#watch-delete:hover {
  background-color: steelblue;
}

#watch-update {
  display: inline;
}

h1 {
background-color: rgba(10, 10, 10, 0.802);
  border: 10px solid rgba(10, 10, 10, 0.148);
  border-radius: 10px;
}

h2 {
  background-color: rgba(10, 10, 10, 0.802);
  border: 10px solid rgba(10, 10, 10, 0.148);
  border-radius: 10px;
}

#new-form {
  border-radius: 5px;
  background-color: rgba(10, 10, 10, 0.897);
}

#show-page {
  border-radius: 5px;
  background-color: rgba(10, 10, 10, 0.897);
  font-size: 22px;
  padding: 4px;
}

#show-band {
  border-radius: 5px;
  background-color: rgba(10, 10, 10, 0.897);
  font-size: 22px;
  padding: 4px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#show-review {
  border-radius: 5px;
  background-color: rgba(10, 10, 10, 0.897);
  font-size: 22px;
  padding: 4px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#delete-band {
  border-radius: 4px;
  background-color: rgba(10, 10, 10, .8);
  padding: 4px;
  text-decoration: none;
  font-size: 18px;
}

#delete-band:hover {
  background-color: steelblue;
}

