<%- include('../partials/header') %>

<form id="new-form" action="/watches" method="POST">
  <label>Brand:</label>
  <input type="text" name="brand">
  <label>Style:</label>
  <input type="text" name="style">
  <input type="submit" value="Add Watch">
</form>

<%- include('../partials/footer') %>