<%- include('../partials/header') %>

<section id="show-page">
    <div>Brand: </div>
    <div><%= watch.brand %></div>
    <div>Style: </div>
    <div><%= watch.style %></div>
</section>

  <%- include('../partials/footer') %>